<!DOCTYPE html>
<html>
<head>
    <title>Running Log</title>
    <style>
      body{
        background-color: #FAEBD7;
        text-align: center;
        font-family: arial, sans-serif;
        font-weight: normal;
    }

     h1{
        font-size: xx-large;
        color: #1C0703;
        text-align: center;
    }
    .aligncenter {
    width: 100%;
    text-align: center;
    }


    p{
        font-size: xx-large;
        text-align: center;
        padding: 50px 70px 50px;
    }

    h2{
        font-size: xx-large;
        color: #1C0703;
        text-align: center;
    }

    </style>
</head>
    <body>
        <div class="nav">
            <% if logged_in? %>
                <a href="/logout">Logout</a>
                <a href="/logs">View all Logs</a>
            <% end %>
        </div>
        <%= yield %>
    </body>
</html>