<!DOCTYPE html>
<html>
<head>
    <title>Running Log</title>
    <style>

    </style>
</head>
    <body>
        <% if logged_in? %>
            <a href="/logout">Logout</a>
         <% end %>
        <%= yield %>
    </body>
</html>